body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(255, 255, 255);
  position: relative;
}

#turn {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

#playerName1 {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

#score {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

#playerName2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

#maitremotinstruction {
  text-align: center;
  margin-bottom: 20px;
}

#grille {
  display: none;
  width: 80%;
  margin-bottom: 20px;
}

#maitremot {
  text-align: center;
  
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #ffffff;
  width: 80%; /* Ajuste la largeur du conteneur des cartes */
  
  margin: 0 auto; /* Centre le conteneur des cartes */
}

.card {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 80%; /* Utilise un pourcentage pour la largeur */
  
  
  padding-top: 10%; /* Crée un espace en haut de la carte */
  padding-bottom: 10%; /* Crée un espace en bas de la carte */
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, opacity 0.5s;
  cursor: pointer;
}
