body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255); 
  }

 
  
  #hub, #lobby, #roleSelection, #maitreintuition, #maitremot {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #grille {
    display: none;
  }

  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }

  .visible-line {
    display: inline;
  }


.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #ffffff;

}

.card {
  position: relative;

  display: inline-block;
  justify-content: center;
  align-items: center;

  aspect-ratio: 11/16;
  font-size: 30px;

  width: 150px;
  height: 80px;

  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  
  border:1 px solid black;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s, opacity 0.5s;
  transform-style: preserve-3d;

  cursor: pointer;
}